In [18]:
%load_ext lab_black

The lab_black extension is already loaded. To reload it, use:
  %reload_ext lab_black

In [19]:
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import LinearSVR

from sklearn.model_selection import cross_validate
from sklearn.model_selection import KFold

In [20]:
df = pd.read_csv("data/ISLR_auto_raw.csv").set_index("name")

In [21]:
df = pd.concat([df, pd.get_dummies(df["origin"], prefix="origin_")], axis=1).drop(
    "origin", axis=1
)

In [22]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin__1,origin__2,origin__3
name,,,,,,,,,,
chevrolet chevelle malibu,18.0,8,307.0,130,3504,12.0,70,1,0,0
buick skylark 320,15.0,8,350.0,165,3693,11.5,70,1,0,0
plymouth satellite,18.0,8,318.0,150,3436,11.0,70,1,0,0
amc rebel sst,16.0,8,304.0,150,3433,12.0,70,1,0,0
ford torino,17.0,8,302.0,140,3449,10.5,70,1,0,0
...,...,...,...,...,...,...,...,...,...,...
ford mustang gl,27.0,4,140.0,86,2790,15.6,82,1,0,0
vw pickup,44.0,4,97.0,52,2130,24.6,82,0,1,0
dodge rampage,32.0,4,135.0,84,2295,11.6,82,1,0,0
ford ranger,28.0,4,120.0,79,2625,18.6,82,1,0,0
chevy s-10,31.0,4,119.0,82,2720,19.4,82,1,0,0

In [23]:
target = "mpg"

In [24]:
X = df.drop(target, axis=1).values
y = df[target].values

In [25]:
k_fold = KFold(n_splits=6, shuffle=True, random_state=42)

In [26]:
cross_validate(LinearRegression(), X, y, scoring="neg_mean_squared_error", cv=k_fold)[
    "test_score"
].mean()

-11.453508504216131

In [27]:
cross_validate(
    DecisionTreeRegressor(), X, y, scoring="neg_mean_squared_error", cv=k_fold
)["test_score"].mean()

-15.08446348096348

In [28]:
cross_validate(
    RandomForestRegressor(), X, y, scoring="neg_mean_squared_error", cv=k_fold
)["test_score"].mean()

-7.85525761969696